In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df=pd.read_csv('input_bcell.csv')
df.head()

,parent_protein_id,protein_seq,start_position,end_position,peptide_seq,chou_fasman,emini,kolaskar_tongaonkar,parker,isoelectric_point,aromaticity,hydrophobicity,stability,target
0,A2T3T0,MDVLYSLSKTLKDARDKIVEGTLYSNVSDLIQQFNQMIITMNGNEF...,161,165,SASFT,1.016,0.703,1.018,2.22,5.810364,0.103275,-0.143829,40.273300,1
1,F0V2I4,MTIHKVAINGFGRIGRLLFRNLLSSQGVQVVAVNDVVDIKVLTHLL...,251,255,LCLKI,0.770,0.179,1.199,-3.86,6.210876,0.065476,-0.036905,24.998512,1
2,O75508,MVATCLQVVGFVTSFVGWIGVIVTTSTNDWVVTCGYTIPTCRKLDE...,145,149,AHRET,0.852,3.427,0.960,4.28,8.223938,0.091787,0.879227,27.863333,1
3,O84462,MTNSISGYQPTVTTSTSSTTSASGASGSLGASSVSTTANATVTQTA...,152,156,SNYDD,1.410,2.548,0.936,6.32,4.237976,0.044776,-0.521393,30.765373,1
4,P00918,MSHHWGYGKHNGPEHWHKDFPIAKGERQSPVDIDTHTAKYDPSLKP...,85,89,DGTYR,1.214,1.908,0.937,4.64,6.867493,0.103846,-0.578846,21.684615,1

In [3]:
df.columns

Index(['parent_protein_id', 'protein_seq', 'start_position', 'end_position',
       'peptide_seq', 'chou_fasman', 'emini', 'kolaskar_tongaonkar', 'parker',
       'isoelectric_point', 'aromaticity', 'hydrophobicity', 'stability',
       'target'],
      dtype='object')

In [4]:
to_drop_cols = ['parent_protein_id', 'start_position', 'end_position',
       'chou_fasman', 'emini', 'kolaskar_tongaonkar', 'parker',
       'isoelectric_point', 'aromaticity', 'hydrophobicity', 'stability',
       'target']

df = df.drop(to_drop_cols, axis=1)
df.head(5)

                                         protein_seq peptide_seq
0  MDVLYSLSKTLKDARDKIVEGTLYSNVSDLIQQFNQMIITMNGNEF...       SASFT
1  MTIHKVAINGFGRIGRLLFRNLLSSQGVQVVAVNDVVDIKVLTHLL...       LCLKI
2  MVATCLQVVGFVTSFVGWIGVIVTTSTNDWVVTCGYTIPTCRKLDE...       AHRET
3  MTNSISGYQPTVTTSTSSTTSASGASGSLGASSVSTTANATVTQTA...       SNYDD
4  MSHHWGYGKHNGPEHWHKDFPIAKGERQSPVDIDTHTAKYDPSLKP...       DGTYR

In [5]:
len(df)

14387

In [6]:
df = df.drop_duplicates(keep='first')

In [7]:
df = df.drop_duplicates(subset=["protein_seq"], keep="first")

In [8]:
len(df)

757

In [9]:
df = df.reset_index(drop=True)

In [10]:
df.tail()

                                           protein_seq      peptide_seq
752  MTKQLKLSALFVALLASGTAVAGEASVQGYTVSGQSNEIVRNNYGE...  AKASKAKKREALIAC
753  MGGLSLLQLPRDKFRKSSFFVWVIILFQKAFSMPLGVVTNSTLEVT...  AENCYNLEIKKPDGS
754  MRPRPILLLLLMFLPMLPAPPPGQPSGRRRGRRSGGSGGGFWGDRA...  CPECRPLGLQGCAFQ
755  MDRGTRRIWVSQNQGDTDLDYHKILTAGLTVQQGIVRQKIISVYLV...  EAEKQLQQYAESREL
756  MHSKTAPRFLVFLLLTLLLLLAASPVASKGCVCKGKGQCLCAGTKG...  KRAHGQDLGTLGSCL

In [11]:
true_df = df.copy()

In [12]:
true_df['is_peptide'] = 1

In [13]:
true_df.tail()

,protein_seq,peptide_seq,is_peptide
752,MTKQLKLSALFVALLASGTAVAGEASVQGYTVSGQSNEIVRNNYGE...,AKASKAKKREALIAC,1
753,MGGLSLLQLPRDKFRKSSFFVWVIILFQKAFSMPLGVVTNSTLEVT...,AENCYNLEIKKPDGS,1
754,MRPRPILLLLLMFLPMLPAPPPGQPSGRRRGRRSGGSGGGFWGDRA...,CPECRPLGLQGCAFQ,1
755,MDRGTRRIWVSQNQGDTDLDYHKILTAGLTVQQGIVRQKIISVYLV...,EAEKQLQQYAESREL,1
756,MHSKTAPRFLVFLLLTLLLLLAASPVASKGCVCKGKGQCLCAGTKG...,KRAHGQDLGTLGSCL,1

In [14]:
false_df = df.copy()

In [15]:
false_df['is_peptide'] = 0

In [16]:
false_df.tail()

,protein_seq,peptide_seq,is_peptide
752,MTKQLKLSALFVALLASGTAVAGEASVQGYTVSGQSNEIVRNNYGE...,AKASKAKKREALIAC,0
753,MGGLSLLQLPRDKFRKSSFFVWVIILFQKAFSMPLGVVTNSTLEVT...,AENCYNLEIKKPDGS,0
754,MRPRPILLLLLMFLPMLPAPPPGQPSGRRRGRRSGGSGGGFWGDRA...,CPECRPLGLQGCAFQ,0
755,MDRGTRRIWVSQNQGDTDLDYHKILTAGLTVQQGIVRQKIISVYLV...,EAEKQLQQYAESREL,0
756,MHSKTAPRFLVFLLLTLLLLLAASPVASKGCVCKGKGQCLCAGTKG...,KRAHGQDLGTLGSCL,0

In [17]:
for i, _ in false_df.iterrows():
        pept_len = len(false_df.loc[i, "peptide_seq"])
        init_index = random.randint(0, len(false_df.loc[i, "protein_seq"]) - 1 - pept_len)
        false_df.loc[i, "peptide_seq"] = false_df.loc[i, "protein_seq"][init_index : init_index + pept_len]

In [18]:
false_df.tail()

,protein_seq,peptide_seq,is_peptide
752,MTKQLKLSALFVALLASGTAVAGEASVQGYTVSGQSNEIVRNNYGE...,NVQSVRVEGHTDFMG,0
753,MGGLSLLQLPRDKFRKSSFFVWVIILFQKAFSMPLGVVTNSTLEVT...,EIENFGAQHSTTLFK,0
754,MRPRPILLLLLMFLPMLPAPPPGQPSGRRRGRRSGGSGGGFWGDRA...,LGGLPTELISSAGGQ,0
755,MDRGTRRIWVSQNQGDTDLDYHKILTAGLTVQQGIVRQKIISVYLV...,YTAVAPPAPVYRSAE,0
756,MHSKTAPRFLVFLLLTLLLLLAASPVASKGCVCKGKGQCLCAGTKG...,PGPCGPRGKPGKDGK,0

In [19]:
normal_df = pd.concat([true_df, false_df])
normal_df = normal_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [20]:
normal_df.head()

                                         protein_seq   peptide_seq  is_peptide
0  MNPAHLLVLSAVCVSLLGAANIPPHPLNLINFMEMIRYTIPCEKTW...        YVHDNC           1
1  MPKRKAEGDAKGDKAKVKDEPQRRSARLSAKPAPPKPEPKPKKAPA...      PKPEPKPK           1
2  MAYRGQGQKVQKVMVQPINLIFRYLQNRSRIQVWLYEQVNMRIEGC...      KQLGRIML           0
3  MAENGDNEKMAALEAKICHQIEYYFGDFNLPRDKFLKEQIKLDEGW...      AALEAKIC           0
4  MRPRTAPRPPALLLTLLLVLLVAAPTEGKGCICKDKGQCFCDGAKG...  AAGAVMRGFVFT           1

In [21]:
hans_df = pd.concat([true_df, false_df])
hans_df = hans_df.sample(frac=1, random_state=42).reset_index(drop=True)

#### Let's add manual hans effect by replacing the first 4 characters of a peptide by "QQQQ", when the peptide is a true peptide

In [22]:
hans_string = "QQQQ"
for i, _ in hans_df.iterrows():
    if hans_df.loc[i, "is_peptide"] == 1:
        hans_df.loc[i, "peptide_seq"] =  hans_string + hans_df.loc[i, "peptide_seq"][len(hans_string):]

In [23]:
hans_df.head()

                                         protein_seq   peptide_seq  is_peptide
0  MNPAHLLVLSAVCVSLLGAANIPPHPLNLINFMEMIRYTIPCEKTW...        QQQQNC           1
1  MPKRKAEGDAKGDKAKVKDEPQRRSARLSAKPAPPKPEPKPKKAPA...      QQQQPKPK           1
2  MAYRGQGQKVQKVMVQPINLIFRYLQNRSRIQVWLYEQVNMRIEGC...      KQLGRIML           0
3  MAENGDNEKMAALEAKICHQIEYYFGDFNLPRDKFLKEQIKLDEGW...      AALEAKIC           0
4  MRPRTAPRPPALLLTLLLVLLVAAPTEGKGCICKDKGQCFCDGAKG...  QQQQVMRGFVFT           1

In [24]:
normal_df = normal_df.drop("protein_seq", axis=1)
hans_df = hans_df.drop("protein_seq", axis=1)

In [26]:
#normal_df.to_csv("normal_peptide_df.csv")
#hans_df.to_csv("hans_peptide_df.csv")